@font-face {
  font-family: "JetBrainsMono";
  src: url("$lib/assets/fonts/JetBrainsMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("$lib/assets/fonts/JetBrainsMono-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("$lib/assets/fonts/JetBrainsMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
